ipykernel
pandas
numpy
matplotlib
plotly
seaborn
scikit-learn
pymongo
from_root
dill
certifi
PyYAML
boto3
mypy-boto3-s3
botocore
fastapi
python-multipart
uvicorn
jinja2
imblearn
-e . 
# this helps installing local packages in our virtual environment and stores matadata and configuration of our project to prevent error
# Read crashcourse.txt file to learn more